.contact__wrapper {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.contact__info {
    padding: 20px;
}

.contact__info div {
    margin-bottom: 2rem;
}
.contact__info p {
    line-height: 1.3em;
    margin-bottom: 0;
}

h3, h4 {
    margin: 5px 0 0;
}

.form {
    width: 75%;
}