@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');


:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark-text: #212529;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--dark-text);
  background: var(--background);
  font-family: 'Anton SC', sans-serif;
  /* max-width: 1100px; */
  /* margin: 0 auto; */
}

.about-container,
.contact-container,
.videos-container {
  margin-top: -74px;
}

.videos-container {
  position: relative;
  overflow: hidden; /* Ensure no overflow */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dashboard input::placeholder,
textarea::placeholder {
  color: #a9a9a9;
  font-style: italic;
}

.dashboard textarea {
  /* background-color: #fff; */
}

.dashboard .MuiTextField-root {
  background-color: #fff;
}

a.MuiLink-root {
  color: #ffa8a8;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
  width: fit-content;
}

a.MuiLink-root:hover {
  color: black;
}

/* Responsive Styles */

@media (max-width: 768px) {
  .parallax-section {
    height: 300px; /* Reduce height on smaller screens */
  }

  .about-content {
    padding: 20px;
    font-size: 16px; /* Adjust font size for readability */
  }
}
