.home__wrapper {
    background-image: url("https://d1o0ev2mj1bytm.cloudfront.net/images/main.jpg");
    background-size:cover;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: -74px;
    /* display: flex; */
    /* flex-wrap: wrap; */
    align-content: center;
}

.vstack a {
    border: 1px solid #fed4d4;
    color: #fed4d4;
    font-size: 1.5rem;
    text-align: center;
    width: 10rem;
}

.vstack a:hover {
    color: #c9ff41;
    border-color: #c9ff41;
}